<form (submit)="sendMessage($event)">
  <div class="container border">
    <h1 class="text-center">Chat</h1>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <span type="text" #user>user name</span>
          </div>
          <div class="col-8">
            <input type="text" placeholder="message" #msg>
          </div>
          <div class="col-4">
            <input type="submit" value="Send" class="bg-primary text-light rounded">
          </div>
        </div>
      </div>
      <div class="col-6">
        <h3 class="text-center">messages</h3>
        <div *ngFor="let m of messages" class="border">
          {{m.user}} : {{m.msg}}
        </div>
      </div>
    </div>
  </div>
</form>